
.title{
    color: aqua;
    
    }
    #titulo{
        width: 20%;
        height: 20%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
    
    }
    
    